@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:"Montserrat Alternates", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Dynapuff";
    display: flex;
    align-items: center;
}
body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#eee,#fff);
    background-repeat: no-repeat;
}
.logo{
    height: 50px;
    width: 50px;
}
main{
    max-width: 60vw;
}

input, button{
    all: unset;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 0.5rem;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    main{
        max-width: 100vw;
    }
    
}
button{
    background-color: royalblue;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:active,ion-icon:active{
    transform: scale(0.9);
}
button:hover{
    background-color: rgb(15, 15, 219);
    color: #fff;
}
.flex{
    display: flex;
}
.form{
    gap: 1rem;
    background: #ddd;
    padding: 15px;
    border-radius: 8px;
}
.form-field{
    margin: 0;
    padding: 0;
    width: 70%;
}
.error{
    color: red;
    margin: 0;
    padding: 0;
    font-size: 11pt;
    display: none;
}
@keyframes itemAppear {
    0%{
        transform: scale(0.99);
    }
    25%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
    
}
.item{
    cursor: default;
    background: #ddd;
    border-radius: 8px;
    padding: 0.6rem;
    gap: 1rem;
    transition: all 0.2s ease-in-out;
    /*animation: itemAppear 1.5s ease-in-out;*/
}
.item:hover{
    transform: scale(0.992);
    background-color: #bbb;
}
.item-container{
    max-width: 80%;
}
.delete{
    color: red;
}
.done{
    color: royalblue;
}
#items{
    flex-direction: column;
    gap: 10px;
    max-height: 60vh;
    overflow: auto;
}
.btns{
    gap: 0.2rem;
}
.time{
    font-size: 10pt;
    color: #aaa;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
ion-icon{
    font-size: 28px;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 8px;
}
